body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #e2e8f0;
}
.main {
  display: grid;
  grid-template: 200px 1fr / clamp(150px, 20%, 200px) 3fr; 
  grid-template-areas: 
  'sidebar header'
  'sidebar pcontainer';
  background-color: rgb(0, 0, 0);
  width: clamp(400px, 100vw, 1300px);
  box-shadow: 2px 0px var(--primary);
  background-color: aqua;
  min-height: 100vh;
}

header {
  background-color: var(--primary-inverse);
  grid-area: header;
  display: grid;
  padding: 10px;
  grid-template-columns: 2fr minmax(220px,1fr);
  grid-template-rows: 80px 100px;
  align-items: center;
  box-shadow: 0px 2px #d1d1d1;
  z-index: 1;
}

.welcome {
  padding-left: 30px;
}

.welcome-user {
  font-weight: 500;
  font-size: 1.1rem;
}

.welcome img {
  float: left;
  margin-right: 20px;
  height: 80px;
  width: 80px;
}

.welcome a {
  color: #4e4d4d;
  font-size: 1rem;
}

.username{
  font-size: 0.7em;
  font-weight: bold;
}

.username img {
  height: 30px;
  width: 30px;
  margin: 0px 2px 0px 25px;
}

.username .bell {
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 10px;
}

.searchbar {
  width: min(600px,80%);
  padding-left: 30px;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btns {
  font-size: 14px;
  border-radius: 30px ;
  display: flex;
  align-items: center;
  height: 1.1em;
}

#search {
  height: 40px;
}


.sidebar {
  background-color: var(--primary);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}

footer {
  position: absolute;
  bottom: 50px;
}

.pcontainer {
  background-color: #e2e8f0;
  grid-area: pcontainer;
  display: grid;
  grid-template: 100px 1fr / 3fr 275px; 
  grid-template-areas: 
  'ptitle ptitle2'
  'projects announcements'
}

p{
  margin: 5px;
}

.ptitle {
  grid-area: ptitle;
  padding-left: 20px;
  display: flex;
  align-items: end;
}

.ptitle2 {
  grid-area: ptitle2;
  padding-left: 20px;
  display: flex;
  align-items: end;
}

h4 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 00;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-auto-rows: 200px;
  gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  align-items: center;
}

.projects .cards{
  padding: 15px;
  padding-top: 0;
  background-color: var(--primary-inverse);
  min-height: 180px;
  max-width: 300px;
  border-left-style: solid;
  border-color: #f0b429;
  border-radius: 10px;
  box-shadow: 0px 2px 2px #d1d1d1;
  z-index: 1;
  justify-self: center;
  display: grid;
}

.projects .cards-title {
  font-weight: bold;
  font-size: 1rem;
}

.cards-img {
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: end;
}

.cards-img img {
  width: 15px;
}



.projects p {
  font-size: 0.7rem;
}

.announcements {
  grid-area: announcements;
  display: flex;
  flex-direction: column;
}

.announcements .news-container {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  gap: 10px;
  margin: 15px;
  padding: 10px; 
  background-color: var(--primary-inverse);
  box-shadow: 0px 2px 2px #d1d1d1;
  z-index: 1;
  border-radius: 10px;
  max-height: 300px;
}

.announcements .news-title {
  font-weight: bold;
  font-size: 0.7rem;
}

.announcements p {
  font-size: 0.5rem;
}

.trend-container {
  background-color: var(--primary-inverse);
  box-shadow: 0px 2px 2px #d1d1d1;
  z-index: 1;
  border-radius: 10px;
  display: grid;
  margin: 15px;
  padding: 10px;
  max-height: 300px;
}

 .trend-container a {
  color: black;
  font-size: 0.7rem;
}

.trend-container p{
  font-size: 0.5rem;
}

.trend img {
  height: 30px;
  width: 30px;
  /* float: left; */
  float: left;
  margin-right: 10px;
}

.img-list {
  width: 20px;
  margin-right: 15px;
  filter: invert();
}

.img-logo {
  width: 40px;
  margin-right: 10px;
  filter: invert();
}

li {
  list-style: none !important;
}

a {
  color: var(--primary-inverse);
}

.atributtion {
  font-size: 0.5rem;
  text-align: center;
  color: #d1d1d1;
}